<div class="col-md-8 mx-auto">
  <div class="card">
    <div class="card-header" style="background: #343a40;">
      <h4 style="text-align:center;color:#fff">EDITAR USUARIO</h4>
    </div>
    <div class="card-body">
      <form action="/usuario/edit/{{usuario._id}}?_method=PUT" method="POST">
        <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" value="{{usuario.nombre}}" autofocus required />
                </div>
                <div class="form-group">
                    <input type="email" name="correo" class="form-control" value="{{usuario.correo}}" required />
                </div>
                <div class="form-group">
                    <input type="text" name="password" class="form-control" value="{{usuario.password}}" required />
                </div>
                <div class="form-group">
                    <input type="text" name="img" class="form-control" value="{{usuario.img}}" required />
                </div>
                <div class="form-group">
                    <input type="text" name="rol" class="form-control" value="{{usuario.rol}}"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </div>
      </form>
    </div>
  </div>
</div>