<div class="row">
    <div class="col-md-12 mx-auto">
        <a href="/usuario/add" class="btn btn-success btn-block">Crear Usuario Nuevo</a>
        <br></br>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mx-auto table-responsive">
        <table class="table table-bordered table">
            <thead class="table table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Correo</th>
                    {{!-- <th>Imagen</th> --}}
                    <th>Rol</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                    <tr>
                    <td><strong>{{ nombre }}</strong></td>
                    <td>{{ correo }}</td>
                    {{!-- <td>{{ img }}</td> --}}
                    <td>{{ rol }}</td>
                    <td style="text-align:center;">
                        <a style="margin-bottom:10px;" href="/usuario/edit/{{_id}}" class="btn btn-dark btn-rounded">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a>
                            <form action="/usuario/delete/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE"/>
                                <a>
                                    <button type="submit" class="btn btn-danger btn-rounded">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </a>
                            </form>
                        </a>
                    </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>